<div class="row m-0 p-0 d-flex justify-content-center align-items-center mt-5">
    <div class="col-10 col-md-6 col-lg-4 position-relative d-flex flex-column align-items-center">
      <div class="profile-header position-relative d-flex justify-content-center align-items-center px-5 py-2 fw-bold mt-3">Profile Updating</div>
   <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="col-12 profile-content position-absolute space-header">
    <div class="row d-flex justify-content-between p-0 m-0 ">
      <div class="col-3 profile-email-password d-flex justify-content-center align-items-center py-2">Name</div>
      <div class="col-8 profile-email-password-descp py-2"><input class="profile-edit-inputs" type="text" placeholder="{{name}}" name="name" ngModel></div>
    </div>
     <div class="row d-flex justify-content-between p-0 m-0 mt-3">
       <div class="col-3 profile-email-password d-flex justify-content-center align-items-center py-2">Surname</div>
       <div class="col-8 profile-email-password-descp py-2"><input class="profile-edit-inputs" type="text" placeholder="{{surname}}" name="surname" ngModel></div>
     </div>
     <div class="row d-flex justify-content-between p-0 m-0 mt-3">
       <div class="col-3 profile-email-password d-flex justify-content-center align-items-center py-2">Email</div>
       <div class="col-8 profile-email-password-descp py-2"><input class="profile-edit-inputs" type="text" placeholder="{{email}}" name="email" ngModel></div>
     </div>
     <div class="d-flex justify-content-center p-0 m-0 mt-5 mb-3"><button class="btn profile-confirm-btn px-5 text-center">Confirm</button></div>  
    </form>
    </div>
  </div>
  