<div class="list-component-wrapper my-4" role="button" (click)="openTask()">
  <div class="d-flex justify-content-end align-items-start">
    <span class="task-content p-1 px-4">5 Tasks</span>
  </div>
  <div class="d-flex justify-content-sm-start align-items-center">
    <div class="ms-4 list-dot"></div>
    <div class="list-content ms-2 py-2 fw-bold">{{ list.name }}</div>
  </div>
  <div class="d-flex justify-content-end">
    <div (click)="avoidPropgtn($event)">
      <img class="list-dots me-3 mb-3" src="assets/images/dots.png" />
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <div class="list-dots-dropdown position-absolute p-3 ab text-center">
      <div class="list-dropdown p-1 px-3" (click)="editList()">Edit</div>
      <div class="list-dropdown p-1 px-3 mt-1" (click)="removeList()">
        Remove
      </div>
    </div>
  </div>
</div>
