@import '../../../styles.scss';
.profile-header{
    border-radius: 20px;
    background-color: $yellow;
    color: $darkBlue;
    border-style: solid;
    border-width: 2px;
    border-color: $darkBlue;
    z-index: 1;
  }
  
  .profile-name{
    margin-top: 90px;
    color: #3C4167;
  }
  
  .profile-content{
    z-index: 0;
    margin-top: 35px;
    background-color: $white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
  }
  
  .profile-email-password{
    background-color: $darkBlue;
    font-weight: bold;
    color: $white;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
  }
  
  .profile-email-password-descp{
    background-color: $white;
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
    border-style: solid;
    border-width: thin;
    border-color: $darkBlue;
  }
  
  .profile-confirm-btn{
    background-color: $blue;
    border-radius: 18px;
    color: $white;
  }

  .space-header{
    padding-top: 80px;
  }

  .profile-edit-inputs{
    border: 0;
    outline: none;
    width: 100%;
  }
  