<div class="">
  <div class="row p-0 m-0 navbar-wrapper">
    <div class="navbar-project-logo col-4 col-sm-4 col-md-2 col-lg-2 d-flex align-items-center justify-content-center">
      To-Do-App
    </div>
    <div
      class="navbar-search col-sm-8 col-md-6 col-lg-7 d-md-flex d-none align-items-center justify-content-end">
      <div class="navbar-search-input-wrapper d-flex align-items-center p-1 px-2 me-5">
        <img class="navbar-search-mGlass" src="assets/images/mGlass.png"/>
        <div class="ms-2"><input class="navbar-search-input pe-0 pe-sm-5" placeholder="Search..."/></div>
      </div>
    </div>
    <div
      class="navbar-link-wrapper col-8 m-0 p-0 col-sm-8 col-md-4 col-lg-2 d-flex justify-content-sm-evenly justify-content-md-center justify-content-lg-start justify-content-sm-start justify-content-evenly align-items-center">
      <div class="d-md-none navbar-link-hover p-2 d-flex justify-content-center align-items-center"><img
        class="navbar-link" src="assets/images/mGlass.png"/></div>
      <div class="navbar-link-hover p-2 d-flex justify-content-center align-items-center ms-lg-5"><img
        class="navbar-link" src="assets/images/home.png"/></div>
      <div class="navbar-link-hover mx-md-5 mx-lg-4 p-2 d-flex justify-content-center align-items-center"><img
        class="navbar-link" src="assets/images/clipboard.png"/></div>
      <div class="navbar-link-hover p-2 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-lg-center align-items-end position-relative">
          <img class="navbar-link position-relative" src="assets/images/user.png"/>
          <div class="navbar-dropdown position-absolute top-0 mt-5 p-3">
            <div class="navbar-dropdown-link p-1 px-4">Profile</div>
            <div class="navbar-dropdown-middleLine my-2"></div>
            <div class="navbar-dropdown-link p-1 px-4">Log out</div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="navbar-search-input-small-screen py-3 d-md-none">
    <div class="navbar-search-input-wrapper d-flex align-items-center p-1 px-2 mx-5 ">
      <img class="navbar-search-mGlass" src="assets/images/mGlass.png"/>
      <div class="ms-2 w-100"><input class="navbar-search-input pe-0 pe-sm-5 w-100" placeholder="Search..."/></div>
    </div>
  </div>
</div>
