@import '../../../styles.scss';
.profile-header{
  width: 125px;
  height: 125px;
  border-radius: 100%;
  background-color: $darkBlue;
  z-index: 1;
}

.profile-name{
  margin-top: 90px;
  color: $darkBlue;
}

.profile-content{
  z-index: 0;
  margin-top: 35px;
  background-color: $white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

.profile-email-password{
  background-color: $darkBlue;
  font-weight: bold;
  color: $white;
  border-radius: 0px 20px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

.profile-email-password-descp{
  background-color: $white;
  border-radius: 20px 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
  border-style: solid;
  border-width: thin;
  border-color: $darkBlue
}

.profile-update-btn{
  background-color: $blue;
  border-radius: 18px;
  color: $white;
}

.profile-remove-btn{
  background-color: $warningButtonColor;
  border-radius: 18px;
  color: $white;
}
