<div class="row m-0 p-0 d-flex justify-content-center align-items-center mt-5">
  <div
    class="col-10 col-sm-8 col-md-8 col-lg-4 position-relative d-flex flex-column align-items-center"
  >
    <div
      class="profile-header position-relative d-flex justify-content-center align-items-center"
    >
      <img class="w-50" src="assets/images/user.png" />
    </div>
    <div class="col-12 profile-content position-absolute">
      <div class="profile-name fw-bold text-center fs-3">
        {{ name }} {{ surname }}
      </div>
      <div class="row d-flex justify-content-between p-0 m-0 mt-4">
        <div class="col-3 profile-email-password text-center py-2">Email</div>
        <div class="col-8 profile-email-password-descp py-2">{{ email }}</div>
      </div>
      <div class="row d-flex justify-content-between p-0 m-0 mt-3">
        <div class="col-3 profile-email-password text-center py-2">
          Password
        </div>
        <div class="col-8 profile-email-password-descp py-2">*****</div>
      </div>
      <div class="row d-flex justify-content-end p-0 m-0 mt-5">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4">
          <button
            class="btn profile-update-btn d-flex justify-content-center align-items-center px-5 w-100"
            routerLink="/profile-edit"
          >
            Edit
          </button>
        </div>
      </div>
      <div class="row d-flex justify-content-end p-0 m-0 mt-2 mb-4">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4">
          <button
            class="btn profile-remove-btn d-flex justify-content-center align-items-center px-5 w-100"
            (click)="openPopup()"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
