.task-component-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

.task-dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ffffff;
}

.task-header {
  border-radius: 15px;
  background-color: #3c4167;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
}

.task-tick-section {
  border-radius: 30px 30px 30px 30px;
  border-style: solid;
  border-width: thin;
  background-color: #ffffff;
}

.task-tick-checkbox-wrapper {
  width: 20px;
  height: 20px;
  background-color: #fff361;
}
.task-tick-checkbox {
  width: 20px;
  border-style: solid;
  border-width: thin;
}

.task-content {
  background-color: #fff361;
  color: #3c4167;
  border-radius: 30px 0px 0px 30px;
}

.task-content-wrapper {
  background-color: #fff361;
  border-radius: 30px;
}
