<div class="task-component-wrapper">
  <div class="task-header d-flex justify-content-sm-start align-items-center">
    <div class="ms-4 task-dot"></div>
    <div class="list-content ms-2 py-2 fw-bold text-light d-flex align-items-center">Lorem impsum dolor</div>
  </div>

  <div class="row d-flex justify-content-center align-items-stretch m-0 p-0 mt-4">
    <div class="col-10 task-content-wrapper p-0 m-0 d-flex justify-content-between align-items-center">
      <div class="task-content py-1 fw-bold d-flex align-items-center"><div class="mx-3">Asadasdasdas sadsadsadsa d as d asd s ddsadas </div></div>
      <div class="task-tick-section d-flex justify-content-center align-items-center p-3 px-4">
          <div class="task-tick-checkbox-wrapper d-flex justify-content-center align-items-center">
            <img class="task-tick-checkbox" src="assets/images/check-mark.png"/>
          </div>
      </div>
    </div>


  </div>
</div>
