
<div class="row task-wrapper align-items-stretch m-0 p-0">
  <div class="col-12 m-0 p-0">
    <div id="sample" class="row m-0 p-0 task-hover-action">
      <div class="col-2 col-sm-1 invisible"></div>

      <div
        class="col-8 col-sm-10 task-content-wrapper d-flex justify-content-between align-items-center m-0 p-0"
      >
        <div class="task-content py-1 d-flex align-items-center">
          <div class="mx-3">{{task.name}}</div>
        </div>

        <div
          class="task-tick-section d-flex justify-content-center align-items-center py-3 align-self-stretch"
        >
          <div
            [ngClass]="
              task.done
                ? 'task-tick-checkbox-wrapper task-tick-section-background d-flex justify-content-center align-items-center'
                : 'task-tick-checkbox-wrapper d-flex justify-content-center align-items-center'
            "
            (click)="changeTaskStatus()"
          >
            <img
              *ngIf="task.done"
              class="task-tick-checkbox"
              src="assets/images/check-mark.png"
            />
          </div>
        </div>
      </div>
      <div
        role="button"
        class="col-2 col-sm-1 task-edit-img-wrapper d-flex justify-content-center align-items-center position-relative"
      >
        <img class="task-edit-img" src="assets/images/taskEdit.png" />
        <div
          class="task-edit-dropdown position-absolute align-self-start p-3 text-center"
        >
          <div class="list-dots-dropdown">
            <div
              class="task-dropdown p-1 px-3"
              (click)="editTask()"
            >
              Edit
            </div>
            <div
              class="task-dropdown p-1 px-3 mt-1"
              (click)="removeTask()"
            >
              Remove
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
