<div>
  <div
    class="home-top-content-wrapper position-relative d-flex justify-content-center align-items-center"
  >
    <div
      class="home-top-center-text position-absolute px-5 py-2 d-flex justify-content-center align-items-center"
    >
      Latest created list
    </div>
    <div class="home-top-line position-absolute"></div>
  </div>

  <div *ngIf="informationAboutList"
    class="home-unAvailable-list d-flex justify-content-center align-items-center mt-5 pt-5 px-5 fw-bold text-center"
  >
    Currently, you don’t have any lists. Firstly, create a list on List Page!
  </div>
</div>
