/* You can add global styles to this file, and also import other style files */
.popup-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: max-content;
  background-color: rgba(0, 0, 0, 0.65);
  overflow-y: auto;
}

.popup-close-btn {
  width: 25px;
}

.popup-content-wrapper {
  background-color: #f1ebeb;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px 0px;
}
