/* You can add global styles to this file, and also import other style files */

// colors
$blue: #587cf7;
$yellow: #fff361;
$darkBlue: #3c4167;
$backgroundColor: #f1ebeb;
$warningButtonColor: rgba(238, 44, 44, 0.86);
$dropdownHoverColor: #d9d9d9;
$white: #ffffff;
$black: #000;
$grey:#786e6e;

// buttons
$borderRadius: 18px;
