/* You can add global styles to this file, and also import other style files */

// colors
$blue: #587CF7;
$yellow: #FFF361;
$darkBlue: #3C4167;
$backgroundColor: #F1EBEB;
$warningButtonColor: rgba(238,44,44,0.86);
$dropdownHoverColor: #D9D9D9;
$white: #ffffff;

// buttons
$borderRadius:18px;