<!-- for list page -->
<!-- <div class="row p-0 m-0 mt-5">
 <div class="col-12 col-sm-6 m-0 p-0 d-flex justify-content-center ">
   <div class="col-8 col-sm-10 col-md-8 m-2">
     <div><app-list></app-list></div>
   </div>
 </div>
 <div class="col-12 col-sm-6 m-0 p-0 d-flex justify-content-center">
   <div class="col-8 col-sm-10 col-md-8 m-2">
     <div><app-list></app-list></div>
   </div>
  </div>
</div>
-->

<!-- for task page -->
<div>
  <div
    class="home-top-content-wrapper position-relative d-flex justify-content-center align-items-center"
  >
    <div
      class="home-top-center-text position-absolute px-5 py-2 d-flex justify-content-center align-items-center"
    >
      Latest created list
    </div>
    <div class="home-top-line position-absolute"></div>
  </div>

  <div
    class="home-unAvailable-list d-flex justify-content-center align-items-center mt-5 pt-5 px-5 fw-bold text-center"
  >
    Currently, you don’t have any lists. Firstly, create a list on List Page!
  </div>
  <!--
    <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="col-10 col-md-5"><app-task></app-task></div>
  </div>
  -->
</div>
