<!-- for list page -->
<!-- <div class="row p-0 m-0 mt-5">
 <div class="col-12 col-sm-6 m-0 p-0 d-flex justify-content-center ">
   <div class="col-8 col-sm-10 col-md-8 m-2">
     <div><app-list></app-list></div>
   </div>
 </div>
 <div class="col-12 col-sm-6 m-0 p-0 d-flex justify-content-center">
   <div class="col-8 col-sm-10 col-md-8 m-2">
     <div><app-list></app-list></div>
   </div>
  </div>
</div>
-->

<!-- for task page -->

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="col-10 col-md-5"><app-task></app-task></div>
</div>

