<div class="login-register-background-template position-relative">
  <div class="vector1-wrapper position-absolute"><img class="vector1" src="assets/images/Vector1.png"/></div>
  <div class="vector2-wrapper position-absolute d-flex justify-content-end"><img class="vector2" src="assets/images/Vector2.png"/></div>
  <div class="vector3-wrapper position-absolute d-flex align-items-end"><img class="vector3" src="assets/images/Vector3.png"/></div>
  <div class="login-content-wrapper position-absolute d-flex flex-column">
    <div class="navbar-project-logo text-center mt-5">To-Do-App</div>
    <div class="row m-0 p-0 mt-5 flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center mt-5 mt-md-0 ">
        <div class="col-10 col-md-8 col-lg-6 ms-0 ms-md-5"><input class="login-register-input py-2 ps-3 pe-5 w-100" placeholder="First Name"/></div>
        <div class="col-10 col-md-8 col-lg-6 ms-0 ms-md-5"><input class="login-register-input py-2 ps-3 pe-5 mt-4 w-100" placeholder="Last Name"/></div>
        <div class="col-10 col-md-8 col-lg-6 ms-0 ms-md-5"><input class="login-register-input py-2 ps-3 pe-5 mt-4 w-100" placeholder="Email"/></div>
        <div class="col-10 col-md-8 col-lg-6 ms-0 ms-md-5"><input class="login-register-input py-2 ps-3 pe-5 mt-4 w-100" placeholder="Password"/></div>
        <div class="col-10 col-md-8 col-lg-6 ms-0 ms-md-5"><input class="login-register-input py-2 ps-3 pe-5 mt-4 w-100" placeholder="Password(Again)"/></div>
        <div class="col-10 col-md-8 col-lg-6 ms-0 ms-md-5 mt-2 login-register-error-message fw-bold">Invalid username</div>
        <div class="col-10 col-md-8 col-lg-6 ms-0 ms-md-5 mt-4 d-flex justify-content-center"><button class="btn w-50 login-register-button text-light mb-5 mb-md-0 ">Register</button></div>

      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center"><img class="w-75 me-0 me-md-5" src="assets/images/loginToDoPhoto.png"/></div>
    </div>
  </div>
</div>
